.body {
  background-color: #dadada;
  min-height: 60vw;
}

nav {
  background-color: black;
  opacity: .7;
  padding: .5vw;
  text-align: center;
}

nav a {
  font-size: 2.5vw;
  color: white;
  margin: 0 2vw 0 0;
  text-decoration: none;
}

nav a:hover {
  color: #ff0000;
}

header h1 {
  font-size: 7vw;
  text-align: center;
  color: orangered;
  padding: 20% 0 1% 0;
  text-shadow: 2px 2px 1px wheat;
}

header p {
  font-size: 4vw;
  text-align: center;
  color: white;
  padding: 1% 0 5% 0;
  text-shadow: 2px 2px 1px orangered;
}

h2 {
  text-align: center;
  font-size: 2vw;
}

h3 {
  text-align: center;
  font-size: 2.2vw;
  padding: .5vw 0 2vw 0;
}

h6 {
  text-align: center;
  font-size: 1vw;
  padding: 1vw;
}

#searchContainer {
  color: whitesmoke;
  background-color: #1d1d1d;
  padding: 1vw 3vw 2vw 3vw;
  margin: 1vw 2vw;
}

#resultsContainer {
  font-size: 1vw;
  color: black;
  background-color: #fadf85;
  padding: 1vw 3vw 2vw 3vw;
  margin: 1vw 2vw;
  border: 2px solid black;
}

form {
  padding: 1% 0 1.5%;
  position: relative;
}

input {
  margin: 1vw 0;
  width: 98%;
  padding: .7vw;
  font-size: 1vw;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #f9c411;
  color: black;
  padding: .3vw .6vw;
  font-size: 1.3vw;
  border: 1px solid black;
}

form button {
  position: absolute;
  right: 0;
}

button[disabled] {
  background-color: #f9e39f;
}

.bookResult {
  background-color: #dadada;
  color: black;
  padding: 1vw 3vw 2vw 3vw;
  font-size: 1.3vw;
  border: 1px solid black;
  box-shadow: 5px 8px 18px #888888;
}

.bookResult:not(:last-of-type) {
  margin-bottom: 2vw;
}

.bookResult h4 {
  font-size: 2vw;
  margin-bottom: 1vw;
}

.bookResult .row:first-of-type {
  margin-bottom: 1vw;
}

.bookResult img {
  display: inline-block;
  box-sizing: border-box;
  max-width: 10vw;
  max-height: auto;
  margin-right: 2vw;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
}

.aboutBook {
  box-sizing: border-box;
  display: inline-block;
  width: 75%;
  padding: 0;
}

.btnDiv {
  box-sizing: border-box;
  float: right;
}

.btnDiv button:first-of-type {
  margin-right: 1.75vw;
}

#view {
  background-color: #44c0e9;
}

#save {
  background-color: #4aeb4a;
}

#delete {
  background-color: #fc2e2e;
}

@media screen and (min-width: 300px) {
  .bookResult .row:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
  }
}
